<header class='container-fluid cp'>
  <div class='col-xs-12 col-md-8 cp d-inline-block header-text'>
    Hello Manoj
  </div>
  <div class='col-xs-12 col-md-4 cp text-center d-inline-block'>
    <button class='inline-block count-btn btn-secondary' routerLink="todos">
      <span>Pending Tasks</span>
      <span>{{ count }}</span>
    </button>
  </div>
</header>
