<div class='col-xs-12 pl-2 pt-2'>
  <button class='btn btn-secondary' (click)='navigateToHome()'>
    <i class='fa fa-arrow-left'></i>
  </button>
</div>
<div class='col-xs-12 col-md-4 offset-md-4 cp mt-3'>
  <app-todo-input (text)='setText($event)'></app-todo-input>
  <app-todo-display [todoList]='todoList'></app-todo-display>
</div>
